<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Image</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">

<style type="text/css">
.container {
	text-align: center;
	align-content: center;
}

.form-group {
	width: 324px;
}

.mainform {
	text-align: -webkit-center;
}

.label {
    display: inline-block;
    text-align: left;
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}
</style>
<!-- <link rel="stylesheet" th:href="@{/css/arch.css}">-->

</head>
<body>
	<div th:replace="~{/fragments/navbar}"></div>

	<div class="container">
		<h3>Add Image</h3>
		<hr>
		<p class="h4 mb-4">Save Image</p>
		<form action="#" th:action="@{/archimages/save}" th:object="${image}"
			method="POST" class="mainform" enctype="multipart/form-data">
			<!-- Add hidden form field to handle the update -->
			<input type="hidden" th:field="*{imageId}"> <label class="label">Select
				Category:</label>
			<div class="form-group">
				<select id="category-select" class="form-select"
					th:field="*{categories.categoryId}" onchange="updateProjects()">
					<option th:each="categoryItem : ${categories}"
						th:value="${categoryItem.categoryId}"
						th:text="${categoryItem.categoryName}"
						th:selected="${categoryItem.categoryId == categoryId}" />
				</select>
			</div>
			<br> <label class="label">Select Project:</label>
			<div class="form-group">
				<select id="project-select" class="form-select"
					th:field="*{projects.projectId}">
					<option th:each="projectsItem : ${projects}"
						th:value="${projectsItem.projectId}"
						th:text="${projectsItem.projectName}" />
				</select>
			</div>



			<br> <input type="file" class="form-control mb-4 w-25"
				th:field="*{imageFile}" accept="image/*" />
			<button type="button" onclick="submitForm()">Upload Image</button>


			<div>
				<a th:href="@{'/archimages/encodeImage/' + *{imageId}}"
					target="_blank"><img th:src="*{encodedImageData}" alt="Image"
					style="max-width: 200px; max-height: 200px;" /></a>
			</div>

			<br> <input type="text" th:field="*{note}"
				class="form-control mb-4 w-25" placeholder="Note">

			<button type="submit" class="btn btn-info col-2"
				onclick="removeSelectedCategory()">Save</button>
		</form>
		<a th:href="@{/archimages/imagelist}">Back to images List</a>
	</div>
	<div th:replace="~{/fragments/footer}"></div>



	<script th:inline="javascript">
    /*<![CDATA[*/
    function updateProjects() {
        var categoryId = document.getElementById('category-select').value;
        var url = /*[[@{/archimages/showFormForAdd}]]*/;

        // Store the selected category in local storage
        localStorage.setItem('selectedCategoryId', categoryId);

        // Append categoryId as a query parameter if it exists
        if (categoryId) {
            url += '?categoryId=' + categoryId;
        }

        window.location.href = url;
    }

    // Add this function to set the selected category on page load
    window.onload = function() {
        var selectedCategoryId = localStorage.getItem('selectedCategoryId');
        if (selectedCategoryId) {
            document.getElementById('category-select').value = selectedCategoryId;
        }
    };
    // Add this function to remove the selected category from local storage on Save button click
    function removeSelectedCategory() {
        localStorage.removeItem('selectedCategoryId');
    }
    /*]]>*/
</script>
</body>
</html>