<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categories crud</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="~{/fragments/navbar}"></div>

	<div class="container">
		<h3>Arch Categories</h3>
		<hr>
		<!-- Add a button -->
		<a th:href="@{/archcategory/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3">Add Category</a>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>Category Id</th>
					<th>Category Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempCategories : ${categories}">
					<td th:text="${tempCategories.categoryId}" />
					<td th:text="${tempCategories.categoryName}" />
					<!-- Add update button Link -->
					<td><a
						th:href="@{/archcategory/showFormForUpdate(categoryId=${tempCategories.categoryId})}"
						class="btn btn-info btn-sm"> Update </a> <!-- Add "delete" button/link -->
						<a
						th:href="@{/archcategory/delete(categoryId=${tempCategories.categoryId})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete the category?'))) return false">
							Delete </a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div th:replace="~{/fragments/footer}"></div>


</body>
</html>